name: Build and Deploy
on:
  push:
    branches:
      - master # Change this to 'master' if your branch is named master

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install and Build
        run: |
          npm install
          npx ng build --base-href /Calculator-Angular/

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist/calculator-angular/browser # The folder the action should deploy.
          branch: gh-pages # The branch the action should deploy to.
